.orange {
  background: orange;
  border: 2px solid orange;
  border-radius: 7px;
  padding: 5px;
  color: white;
  text-decoration: none;
}

.green {
  background: green;
  border: 2px solid green;
  border-radius: 7px;
  padding: 5px;
  color: white;
  text-decoration: none;
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
}
